.container {
    margin-top: 20px; /* 调整上边距以确保内容正确显示 */
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 适当调整任务卡片之间的间距 */
}

.project-card {
    flex: 0 0 calc(33.333% - 20px); /* 根据每行所需项目数调整百分比，减去间距 */
    margin-bottom: 20px; /* 调整每个项目卡片底部的间距 */
    background-color: #fff;
    border: 1px solid #ddd; /* 添加边框以区分项目卡片 */
    border-radius: 6px; /* 增加边框半径以提供更圆润的外观 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 调整阴影以提供更深的层次感 */
    transition: box-shadow 0.3s ease;
}

 .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.25rem;
  background-color: lightblue;
} 

body {
    font-family: 'Helvetica', sans-serif; /* 更改字体以适应项目管理的专业场合 */
    background-color: #e9ecef; /* 调整背景颜色以减少眼睛疲劳 */
    margin: 0;
    padding: 20px;
    color: #212529; /* 调整文本颜色以提高可读性 */
}

.project-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 提供更明显的悬停效果 */
}

.card-title {
    font-weight: bold; /* 增加标题的字重以突出显示 */
}

.card-text {
    margin-bottom: 0.5rem; /* 调整段落间距以提高内容紧凑度 */
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5rem;
}

.btn-edit i,
.btn-delete i {
    color: #495057; /* 调整图标颜色以匹配页面风格 */
}

.btn-edit:hover i,
.btn-delete:hover i {
    color: #007bff; /* 统一悬停效果的颜色 */
}

/* 修正和调整创建按钮的位置和样式 */
#create-project-btn {
    position: fixed;
    right: 300px; /* 调整右侧距离 */
    bottom: 668px; /* 调整ding部距离 */
    z-index: 1050; /* 确保按钮在模态窗口之上 */
    font-size: 16px; /* 调整字体大小 */
    padding: 0.75rem 1.5rem;
    border-radius: 50px; /* 创建更圆的按钮形状 */
    background-color: #007bff; /* 使用主题颜色 */
    color: #fff; /* 字体颜色设为白色以增强对比度 */
}

#create-project-btn:hover {
    background-color: #0056b3; /* 悬停时深化背景颜色 */
}

#project-list {
    padding-bottom: 100px; /* 增加底部填充以避免与固定按钮重叠 */
}

.modal-content {
    border-radius: 8px; /* 增加模态框的边框半径以提供现代化的外观 */
}

/* 调整输入字段和文本区域的样式以增强表单的视觉吸引力 */
input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px; /* 圆角设计 */
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #495057;
}

/* 调整提交按钮的样式 */
input[type="submit"],
button[type="submit"] {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #28a745; /* 使用更鲜艳的绿色以吸引用户点击 */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #218838; /* 悬停时改变按钮颜色 */
}
