body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e9eff1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-404 {
    text-align: center;
    color: #333;
}

.heading-404 {
    font-size: 6em;
    opacity: 0.7;
}

.title-404 {
    margin: 0;
    font-size: 2em;
    color: #555;
}

.description-404 {
    color: #777;
    margin-bottom: 2em;
}

.home-button {
    display: inline-block;
    text-decoration: none;
    background-color: #008cba;
    color: #ffffff;
    padding: 1em 2em;
    border-radius: 2em;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #005f6b;
}
