.box-wrap-1 {
	width: 100%;
	height: 100%;
	display: flex  ;
	flex-direction: column;
	flex-wrap : wrap;
	position: absolute;
	align-items: center; 


	/* background-color: lightcyan; */
	

	.item1{
		width: 80%;
		height: 20%;
/* 		background-color: red; */
	}
	
	.item2{
			width: 80%;
			
			height: 70%;
			/* background-color: green; */

		}

}

.box-wrap-2 {
	width: 100%;
	height: 100%;
	display: flex  ;
	flex-direction: row;
	flex-wrap : wrap;
	justify-content: space-between;
	align-items: center; 


	/* background-color: lightcyan; */
	

	.item11{
		width: 20%;
		height: 100%;
		/* background-color: white; */
		
		display: flex;
		align-items: center;
	}
	
	.item12{
			width: 80%;
			
			height: 100%;
			/* background-color: green; */
			
			display: flex;
			align-items: center;

		}

}
.box-wrap-3 {
	
	width: 100%;
	height: 100%;
	display: flex  ;
	flex-direction: row;
	flex-wrap : wrap;
	
	
	justify-content: center;
	.item21{
		width: 90%;
		height: 100%;
		background-color: white;
		border-radius: 10px;
		
		
	}
	
}
.box-wrap-4 {
	width: 95%;
	height: 100%;
	
	display: flex  ;
	flex-direction: column;
	flex-wrap : wrap;
	margin-left: 3%;
	gap: 10px; 
	align-items: center; 
	.item36{
		width: 95%;
		height: 3%;
		/* background-color: black; */
	}
	
	.item31{
		width: 95%;
		height: 30%;
		display: flex ;
		flex-direction: column;
		gap: 2px; 
		justify-content: space-between;
		/* background-color: black; */
	}
	.item32{
		width: 95%;
		height: 15%;
		
		/* background-color: palegoldenrod; */
	}
	.item33{
		width: 95%;
		height: 15%;
		/* background-color: green; */
	}
	.item34{
		width: 95%;
		height: 15%;
		/* background-color: blue; */
	}
	.item35{
		width: 95%;
		height: 10%;
		/* background-color: red; */
	}
	
}


.circle {
		width: 100px; 
		height: 100px;
		border-radius: 50%; 
		overflow: hidden; 
}
.labelsy {
	color:#7E8299;
	font-size: 20px;
}
.lavatar {
	
	width: 11%;
	height: 18%;
	position: relative;
	background: #6993ff;
	color: aliceblue;
	border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
