{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %}{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<!--begin::Main-->
<div class="d-flex flex-row h-100">
    <!--begin::Content-->
    <div class="p-2 col-10 flex-grow-1">
        {% block content-task %}
        {% endblock %}
    </div>
    <!--end::Content-->
    <!--begin::Nav-->
    <div class="p-2 col-2 float-right bg-white">
        <ul class="nav flex-column">
            <li class="nav-item p-5 pb-10">
                <!--begin::UserInfo-->
                <div class="row">
                    <div class="col-5">
                        <img class="rounded-circle img-fluid" src="/static/media/images/{{user.username}}.jpg" alt="user picture">
                    </div>
                    <!-- <div class="col align-self-end">
                        <a href="{% url 'logout' %}" class="btn btn-outline-secondary btn-sm" style="text-decoration: none; color: inherit;">Logout</a>
                    </div> -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
                    </form>
                    
                    
                    <!-- <div class="col align-self-end">
                        <button type="button" class="btn btn-outline-secondary btn-sm">Logout</button>
                    </div> -->
                </div>
                <!--end::UserInfo-->
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Group</a>
            </li>
        </ul>
    </div>
    <!--end::Nav-->
</div>
<!--end::Main-->
{% endblock %}