{% extends 'base.html' %} 
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<!--begin::Main-->
<div class="d-flex flex-row h-100">
    <!-- Toggle Button -->
    <button id="navToggle" class="btnmenu">Menu</button>

    <!--begin::Content-->
    <div class="p-2 col-10 flex-grow-1">
        {% block content-task %}
        <!-- Content Task Here -->
        {% endblock %}
    </div>
    <!--end::Content-->

    <!--begin::Nav-->
    <div class="p-2 col-2 bg-white nav-menu">
        <ul class="nav flex-column mt-5"> 
            <!-- User Info and Logout -->
            <li class="nav-item p-5 pb-10">
                <div class="row">
                    <div class="col-5">
                        <img class="rounded-circle img-fluid" src="{% static 'media/images/placeholder.png' %}" alt="user picture">
                    </div>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </div>
            </li>
            <!-- Profile Link -->
            <li class="nav-item">
                <a href="" class="nav-link">Profile</a>
            </li>
            <!-- Change Password Link -->
            <li class="nav-item">
                <a href="{% url 'change_password' %}" class="nav-link">Change Password</a>
            </li>
            <!-- Calendar Link -->
            <li class="nav-item">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <!-- Group Link -->
            <li class="nav-item">
                <a href="" class="nav-link">Group</a>
            </li>
        </ul>
    </div>
    <!--end::Nav-->



</div>
<!--end::Main-->
{% endblock %}
