{% extends 'base-task.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/pages/homepage.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/pages/changepassword.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Change Password{% endblock %} 

{% block js %}
<script src="{% static 'js/pages/homepage.js' %}"></script>
<script src="{% static 'js/pages/changepassword.js' %}"></script>
{% endblock %}

{% block content-task %}
<div class="form-container">
  <h2>Change Your Password</h2>
  <form method="post" novalidate id="changePasswordForm">
    {% csrf_token %}
    <div class="form-group">
      {{ form.old_password.errors }}
      {{ form.old_password.label_tag }}
      {{ form.old_password }}
    </div>
    <div class="form-group">
      {{ form.new_password1.errors }}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      {{ form.new_password2.errors }}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </div>
    <button type="submit">Change password</button>
  </form>
</div>

<!-- The Modal -->
<div id="messageModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalMessage">Your message here...</p>
  </div>
</div>
{% endblock %}
