{% extends 'base-task.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/pages/homepage.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/pages/changepassword.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/pages/base-task.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Change Password{% endblock %} 

{% block js %}
<script src="{% static 'js/pages/homepage.js' %}"></script>
<script src="{% static 'js/pages/changepassword.js' %}"></script>
{% endblock %}

{% block content-task %}
<div class="form-container">
  <h2>Change Your Password</h2>
  <form method="post" novalidate id="changePasswordForm">
    {% csrf_token %}
    <div class="form-group">
      {{ form.old_password.label_tag }}
      <div class="password-field">
        {{ form.old_password }}
        
      </div>
    </div>
    <div class="form-group">
      {{ form.new_password1.label_tag }}
      <div class="password-field">
        {{ form.new_password1 }}
      </div>
      <div id="password-criteria">
        <p><span id="min-char" class="criteria-fail">Min 8 Characters</span></p>
        <p><span id="uppercase" class="criteria-fail">Upper-case Letter</span></p>
        <p><span id="lowercase" class="criteria-fail">Lower-case Letter</span></p>
        <p><span id="number" class="criteria-fail">Number</span></p>
        <p><span id="special-char" class="criteria-fail">Special Character</span></p>
      </div>
    </div>
    <div class="form-group">
      {{ form.new_password2.label_tag }}
      <div class="password-field">
        {{ form.new_password2 }}
      </div>
    </div>
    
    <!-- <div class="form-group">
      {{ form.old_password.errors }}
      {{ form.old_password.label_tag }}
      {{ form.old_password }}
    </div>
    <div class="form-group">
      {{ form.new_password1.errors }}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      {{ form.new_password2.errors }}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </div> -->
    <button type="submit">Change password</button>
  </form>
</div>

<!-- The Modal -->
<div id="messageModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalMessage">Your message here...</p>
  </div>
</div>
{% endblock %}  