{% extends 'base-task.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/pages/homepage.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}TaskIT Homepage{% endblock %}

{% block js %}
<script src="{% static 'js/pages/homepage.js' %}"></script>
{% endblock %}

{% block content-task %}
<!--begin::Content-->
<div class="d-flex h-100 w-100 align-self-center justify-content-center">
    <!--begin::Greeting-->
    <div class="m-10 p-10 w-75 text-center align-self-center justify-content-center">
        <h1 class="display-1 greeting-container">
            <span class="hello-animation">Hello</span>
            <span class="username-animation">{{ username }}</span>
        </h1>
        <!--begin::Menu-->
        <div class="p-10 pt-20 d-flex justify-content-around">
            <a class="btn btn-primary btn-lg m-1" href="{% url 'task:task-list' %}" role="button">Personal Task Management</a>
            <a class="btn btn-primary btn-lg m-1" href="{%url 'task:projectmanagement'%}" role="button">Project Task Management</a>
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Greeting-->
</div>
<!--end::Content-->
{% endblock %}
