{% extends 'base-task.html' %}
{% load static %}

{% block css %}
<link href="{% static '/css/pages/user_profile.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/pages/base-task.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block js %}
<script src="{% static 'js/pages/homepage.js' %}"></script>
<script src="{% static 'js/pages/userprofile.js' %}"></script>
{% endblock %}

{% block content-task %}
<!--begin::Content-->
<div class="box-wrap-1">
	<div class="item1">
		<div class="box-wrap-2">
			<div class="item11">
				<a class="btn btn-primary btn-lg m-1" href="{% url 'task:homepage' %}" role="button"
				           style="">Back to Homepage</a>
			</div>
			<div class="item12"><strong style="transform: translate(100%, 0%);font-size: 40px;"> User Profile</strong></div>
		</div>
	</div>
	<div class="item2">
		<div class="box-wrap-3">
			<div class="item21">
				
				 <div class="box-wrap-4">
					 {% csrf_token %}
					 <!-- <form method="post"> -->
					 <div class="item36"></div>
					 <div class="item31">
						 <label class="labelsy">Sculpture:</label>
						 <img id='userImage' class="circle" src="/static/media/images/{{user.id}}.jpg" alt="user picture">
						 <label id="label_avatar" for="id_avatar" class="lavatar">
							 Select image
							<input type="file" id="id_avatar" name="avatar" accept="image/*" textContent="Select image" hidden>
						 </label>
					 </div>
					 <div class="item32">
						 
						 <label class="labelsy">Username:</label>
						 <input type="text" id="id_username" name="username" value="{{ user.username }}"class="form-control">
						 
					 </div>
					 <div class="item33">
						 <label class="labelsy">Username:</label>
						 <input type="email" id="id_email" name="email" value="{{ user.email }}"class="form-control">
					 </div>
					 <div class="item34">
						 <label class="labelsy">Date Joined:</label>
						 <input type="text" id="id_date_joined" name="date_joined" value="{{ user.date_joined }}"
						                                        class="form-control" readonly>
					 </div>
					 {{ form.as_p }}
					 <div class="item35">
						 <button id="saveChangesBtn" type="submit" class="btn btn-primary">Save Changes</button>
					 </div>
					 
				 </div>
				 
			</div>
		</div>
	</div>
</div>
{% endblock %}